[Unit]
Description=Bitcoind Daemon

[Service]
ExecStart=/usr/bin/bitcoind --daemon
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
