{% extends 'base.htm' %}
{% block content %}

<br><h1>Frequently Asked Questions</h1>
<hr>

<h3>Who uses your products?</h3>
<big>Businesses and individuals can take advantage of our risk management products, e.g.:
    <ul>
        <li><b>Bitcoin holders</b> protect their savings and investments.</li>
        <li><b>Bitcoin debtors</b> protect themselves against increase in their debt levels due to adverse exchange rate movements.<br>
        <li><b>Speculators</b> attempt to profit by buying our products cheaply and receiving large payouts.</h3>
    </ul>
</big><hr>

<h3>What new features are upcoming to the web site?</h3>
<big>Login accounts will be introduced in the near future.<br>
They will allow users to access all their order information and history on a single page.<br>
This will also allow users to deposit funds in order to use marginable products.
</big><hr>

<h3>What are <a href="http://en.wikipedia.org/wiki/Margin_(finance)">Marginable Products?</a></h3>
<big>Our contracts, in which upon expiry the user may end up owing us money are called marginable products.<br>
The user is required to post margin funds prior to entering into such contracts.<br>
We plan to introduce such contracts in 2014Q4.</big><hr>

<h3>What new products do you plan to introduce?</h3>
<p><big>Currently, we offer two products:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Protection against a DECREASE in BTC/USD exchange rate (useful for bitcoin holders).<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Protection against an INCREASE in BTC/USD exchange rate (useful for bitcoin borrowers).
</p>
We will be gradually introducing more products, including:
    <ul>
        <li>More currency pairs, not only BTC/USD.</li>
        <li>Strike price ladder, which will allow users to specify the desired opening exchange rate for contracts.</li>
        <li>Futures contracts</li>
        <li>Long and short positions, allowing the users to both buy or sell the contracts.</li>
    </ul>
</big><hr>

<h3>How do I know that you will be able to pay me after my order expires?</h3>
<big>We plan to make our reserve levels verifiable and fully transparent to the users.</big><hr>
    
<h3>How do you manage your own risk?</h3>
<big>We will use various tools and techniques available for managing our business risks, including:
    <ul>
        <li>Derivatives markets instruments to neutralize our own exposure to the markets.</li>
        <li>Real-time discount offers on those types of orders, which offset our current risk exposures.</li>
        <li>Re-insuring the risks of expecially large orders, which are not prudent to bear ourselves.</li>
    </ul>
Currently, you see tight limits on the allowed order sizes.<br>
As our risk management framework completes rigorous testing,
these order size limits will be greatly relaxed or lifted completely.
</big><hr>

{% endblock content %}

