{% extends 'base.htm' %}
{% block content %}

<br><h1>Frequently Asked Questions</h1>
<hr>

<h4>Who uses your products?</h4>
Several categories of individual and business users take advantage of our risk management products, including:
    <ul>
        <li><b>Bitcoin holders</b> like to protect their savings and investments.</li>
        <li><b>Bitcoin debtors</b> like to protect against increase in their debt levels due to adverse exchange rate movements.<br>
        <li><b>Speculators</b> like to profit by buying our products cheaply and receiving large payouts.</h4>
    </ul>
<hr>

<h4>What new features are upcoming to the web site?</h4>
Signup/login accounts will be introduced in the near future.<br>
They will allow the users to access all their order information and history on a single page.<br>
This will also allow the users to deposit funds in order to use marginable products.
<hr>

<h4>What are Marginable Products?</h4>
The contracts, where upon expiry the user may owe us funds are called marginable products.<br>
They require the user to post margin funds prior to entering into such contracts.<br>
We plan to introduce such contracts in 2014Q4.
<hr>

<h4>What new products do you plan to introduce?</h4>
Currently, we offer two products:
    <ol>
        <li>Protection against a DECREASE in BTC/USD exchange rate (useful for bitcoin holders).</li>
        <li>Protection against an INCREASE in BTC/USD exchange rate (useful for bitcoin borrowers).</li>
    </ol>
We will gradually introduce more products, including:
    <ul>
        <li>More currency pairs, not only BTC/USD.</li>
        <li>Strike price ladder, which will allow users to specify the desired opening exchange rate for contracts.</li>
        <li>Futures contracts</li>
        <li>Long and short positions, allowing the users to both buy or sell the contracts.</li>
    </ul>
<hr>

<h4>How do I know that you will be able to pay me after my order expires?</h4>
We plan to make our reserve levels verifiable and fully transparent.
<hr>
    
<h4>How do you manage your own risk?</h4>
We use various tools and techniques available for managing our business risks, including:
    <ul>
        <li>Available market instruments to neutralize our own exposure to the markets.</li>
        <li>Offering real-time discounts on those types of orders, which offset our current risk exposures.</li>
        <li>Re-insure large order risks, which are not prudent to bear ourselves.</li>
    </ul>
Currently, you see very tight limits on the size of the orders that can be placed.<br>
These order size limits will be greatly relaxed or totally lifted in the future as our risk management framework completes rigorous testing.
<hr>

{% endblock content %}

