{% extends 'base.htm' %}
{% block content %}

<h1>How Insurance from Bitcoin Volatility Works:<br><br></h1>

1. Specify insurance parameters (contract expiry date, increase or decrease in bitcoin rate, etc.)<br><br>
2. Specify the size of your order. That is, the amount of bitcoins you want to insure.<br><br>
3. Provide your bitcoin address to which we will send our future payment to you.<br><br>
4. Pay your insurance fee using your bitcoins.<br><br>
5. You will receive insurance payment shortly after the contract expires.<br><br>

<br><br>
<h3>Example:</h3>

At 16:00 (4pm) on 30th of October 2013, Bob got concerned that bitcoin will lose its value against USD in the next day.
Therefore, he decided to buy insurance at that time to protect his holdings of 10 bitcoins against depreciation.
Bob specified the following parameters for his insurance contract:<br>
<br>- INSURE FROM DECREASE in bitcoin value vs USD
<br>- EXPIRY DATE: 2013-10-31
<br>- AMOUNT TO INSURE: 10 bitcoins
<br>
<br>
Bob opens his bitcoin client app<br>
and copies his bitcoin address where he wants to receive insurance payment at expiry.



<br>2013-10-28 09h	194.07
<br>2013-10-29 21h	201.99

<br><br>	
<br>2013-10-30 16h	205.00
<br>2013-10-31 21h	202.30

<br><br>
<h3>For advanced users:  </h3>
This insurance is intended to be equivalent to your long position in an at-the-money option.
The option expires at 21h00 UTC on your chosen date.
The option's underlying is the 24-hour volume-weighted average BTC/USD rate from Bitstamp.
The rate at which the option is struck is determined at the moment when your payment is received.
<br><br><br>


<hr>

<h1>Frequently Asked Questions<br><br></h1>
	1. How do you determine the rate at which my insurance contract is opened and closed?<br><br>
	
		...
		<br><br><br>
	
	2. ...
<br><br><br>


<h1>Examples of Usage <br><br></h1>
	

<h4>Example:  Protect Bitcoin Savings <br><br></h4>


<h4>Example:  Bitcoin Debtor <br><br></h4>


<h4>Example:  Speculator<br><br></h4>
	
	
	
<hr>
{% endblock content %}
