{% extends 'base.htm' %}

{% block content %}

<style>
body, label, input, button, select, textarea {line-height:initial;}

.header-status {margin-top: 20px; font-size:3em; font-weight:bold;}
.label-status {font-size:1.4em; color:red; font-weight:bold;}

.table_bold {font-weight:bold;}

#search_section {margin-top:50px; margin-bottom:50px;}
#search_field   {margin-top:10px;}
</style>

<div class="header-status blue">Order Status</div>

  <div id="search_section">
    <label class="label-status">Input your order ID</label>
    <input type="text" class="input-medium" id="search_field">
    <button type="submit" class="btn btn-primary" id="submit_search" onclick="return search()">Display Order Status</button>
  </div>

<fieldset>

  <table class="table table-bordered table-striped table-hover" id="query_table">

    <tbody>
      <tr class="warning">
        <td>Order status</td>
        <td id="status"></td>
      </tr>
    </tbody>

    <tbody>
      <tr class="warning">
        <td>Submitted at</td>
        <td id="time_submitted"></td>
      </tr>
    </tbody>

    <tbody>
      <tr class="warning">
        <td>Expiry</td>
        <td id="expiry"></td>
      </tr>
    </tbody>

    <tbody>
      <tr class="warning">
        <td>Insurance from</td>
        <td id="type"></td>
      </tr>
    </tbody>

    <tbody>
      <tr class="warning">
        <td>BTC/USD rate quoted</td>
        <td id="rate"></td>
      </tr>
    </tbody>

    <tbody>
      <tr class="warning">
        <td>Amount of bitcoins insured</td>
        <td id="amount"></td>
      </tr>
    </tbody>

<!--
    <tbody>
      <tr class="warning">
        <td>BTC/USD rate at opening</td>
        <td id="rate"></td>
      </tr>
    </tbody>

    <tbody>
      <tr class="warning">
        <td>BTC/USD rate at expiry</td>
        <td id="rate_at_expiry"></td>
      </tr>
    </tbody>
-->

    <tbody>
      <tr class="warning">
        <td>Fee quoted</td>
        <td id="fee_quoted"></td>
      </tr>
    </tbody>

    <tbody>
      <tr class="warning">
        <td>Fee received</td>
        <td id="payment_received"></td>
      </tr>
    </tbody>

     <tbody>
      <tr class="warning">
        <td>Payout made</td>
        <td id="payment_sent"></td>
      </tr>
    </tbody>

    <tbody>
      <tr class="warning">
        <td>Your bitcoin address for payout</td>
        <td id="addr_user"></td>
      </tr>
    </tbody>

  </table>

  <div style="clear:both"></div>

</fieldset>

<!-- <div id="incomplete_msg">Some fields in this table are still missing due to temporarily incomplete implementation. Sorry for the inconvenience.</div><br> -->

<script>
  $(document).ready(function() {
    $("#query_table").hide();
    $("#incomplete").hide();
  });

  function search() {
    var search_txt = document.getElementById("search_field").value;

    $.ajax({
        url: "/future/query/",
        type: "POST",
        data: {order_id: search_txt},
        success: function(data) {
            if(data.order_id == "") {
              alert("Order " + search_txt + " does not exist!");
              $("#query_table").hide();
              // $("#incomplete").hide();
              return;
            }

            $("#status").text(data.status_verbal);
            $("#time_submitted").text(data.time_ordered);
            $("#expiry").text(data.expiry);
            $("#type").text(data.insurance_type);
            $("#amount").text(data.amount);
            $("#rate").text(data.rate);
            $("#addr_user").text(data.addr_user);
            $("#fee_quoted").text(data.fee_quoted);
            $("#payment_received").text(data.payment_received);
            $("#payment_sent").text(data.payment_sent);
            
            $("#query_table").show();
            // $("#incomplete_msg").show();
            
        },
        error: function(data) {
            {# alert('error')#}
        }
    });

    return true;
  }

</script>

<br>
{% endblock content %}

